.header{
    margin-top: 15px;

    .header-logo{
        float: left;
        @include transition(all 0.5s ease-in);

        .logo{
            background-image: url('../img/logo.png');
            width: 44px;
            height: 44px;
            float: left;
            @include transition(all 0.5s ease-in);
        }

       .titre{
            background-image: url('../img/type.png');
            background-repeat: no-repeat;
            width: 306px;
            height: 44px;
            float: left;
            margin-top: 10px;
            margin-left: 10px;
        }

        &:hover{
            opacity:0.6;

            .logo{
                @include transform(rotate(360deg));
            }
        }
    }

    nav{
        float: right;
        margin-top: 15px;

        li{
            float: left;
            margin-left: 12px;

            a{
                font-weight: bold;
                text-transform: capitalize;
                padding:4px 14px;
                color:rgba(255,255,255,0.7);
                @include transition(all 0.5s ease-in);
                @include border-radius(14px);
                @include text-shadow(2px 2px 2px rgba(0,0,0,0.5));

                &:hover{
                    background-color:#ccc;
                    background-color:rgba(255,255,255,0.2);
                }
            }
        }
    }
}